@font-face {
  font-family: "iconfont"; /* Project id 4135249 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4135249_t25m5seyhh.woff2?t=1687614505170') format('woff2'),
       url('//at.alicdn.com/t/c/font_4135249_t25m5seyhh.woff?t=1687614505170') format('woff'),
       url('//at.alicdn.com/t/c/font_4135249_t25m5seyhh.ttf?t=1687614505170') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixindenglu:before {
  content: "\e638";
}

.icon-MAILBOX:before {
  content: "\e602";
}

.icon-QQ:before {
  content: "\e876";
}

.icon-wenzhang:before {
  content: "\ec64";
}

.icon-wenzhang1:before {
  content: "\ecb3";
}

.icon-yinle:before {
  content: "\e745";
}

.icon-guanyuwomen:before {
  content: "\e63e";
}

.icon-yinlehe:before {
  content: "\e68b";
}

.icon-tubiaozhizuomobanyihuifu-:before {
  content: "\e6a1";
}

.icon-liuyanban:before {
  content: "\e61b";
}

.icon-home:before {
  content: "\e700";
}

.icon-youqinglianjie:before {
  content: "\e822";
}

.icon-shejiao:before {
  content: "\e619";
}

.icon-liuyanban1:before {
  content: "\ed60";
}

.icon-bijiben:before {
  content: "\e6e7";
}

.icon-daima:before {
  content: "\e701";
}

.icon-bitong:before {
  content: "\e703";
}

.icon-diqiuyi:before {
  content: "\e705";
}

.icon-a-shu2:before {
  content: "\e706";
}

.icon-diqiu:before {
  content: "\e707";
}

.icon-chongdian:before {
  content: "\e708";
}

.icon-fanyi:before {
  content: "\e709";
}

.icon-sousuo:before {
  content: "\e70c";
}

.icon-sepan:before {
  content: "\e70d";
}

.icon-jisuan:before {
  content: "\e710";
}

.icon-a-shu5:before {
  content: "\e711";
}

.icon-tingzhenqi:before {
  content: "\e712";
}

.icon-xueshimao:before {
  content: "\e713";
}

.icon-a-shu4:before {
  content: "\e715";
}

.icon-citie:before {
  content: "\e716";
}

.icon-heiban:before {
  content: "\e717";
}

.icon-xiaoheiban:before {
  content: "\e718";
}

.icon-a-shuben3:before {
  content: "\e71a";
}

.icon-a-shuben4:before {
  content: "\e71b";
}

.icon-xiezizhuo:before {
  content: "\e71e";
}

.icon-naozhong:before {
  content: "\e71f";
}

.icon-a-shuben2:before {
  content: "\e720";
}

.icon-xianweijing:before {
  content: "\e721";
}

.icon-wenjian:before {
  content: "\e722";
}
